.App {
  text-align: center;
  
}

.center{
  display: flex;
  justify-content: center;
}

.particles {
position: fixed; /* So it removes the particles effect from the normal flow of the webpage*/
top: 0;
right: 0;
left: 0;
Bottom: 0;
z-index: -1;
}

